NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1
APP_NAME=GymFlow ERP API

# MongoDB Multi-Tenant Connection
MONGODB_URI=mongodb://localhost:27017/gymflow_erp
MONGODB_DEBUG=true

# Redis Cache & Queue
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Secrets & Expiry
JWT_SECRET=gymflow_enterprise_super_secret_jwt_key_2026_production
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=gymflow_enterprise_super_refresh_jwt_key_2026_production
JWT_REFRESH_EXPIRATION=7d

# CORS & Security
CORS_ORIGIN=http://localhost:3000
BCRYPT_SALT_ROUNDS=12

# Mailer Config
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=mock_user
SMTP_PASS=mock_pass
SMTP_FROM=no-reply@gymflow.io

# Storage Provider (local | s3 | cloudinary)
STORAGE_PROVIDER=local
STORAGE_LOCAL_PATH=./uploads
